:root{
    --font-color: #ffd5b7;
    --progress_bar-color: #ff8b1f;
    --progress_bar-bgcolor:#bf6524;
    --bgcolor:#25223a;
    --color-card:#352f5a;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #25223a;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    color: var(--font-color);
}
.main{
    padding-top: 40px;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid tomato;
}
.score,.image,.progress-container,.menu{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
}
.progress-container{
    margin-top: 70px;
}
.mandarin-exp{
    font-size: 1.2em;
    margin-right: 10px;
}
.score-text{
    font-weight: 700;
    font-size: 3.5em;
}
.progress_bar{
    width: 70%;
    height: 15px;
    background-color: var(--progress_bar-color);
    border-radius: 15px;
}
.card1,.card2,.card3,.card4,.card5{
    width: 90px;
    height: 100px;
    background-color: var(--color-card);
    border-radius: 20px;
}
.card1,.card2,.card3,.card4{
    margin-right: 10px;
}
.image img.click{
    cursor: pointer;
    transform: scale(1);
    transition-duration: 250ms;

}
.image img:active{
    transform: scale(0.9);
    transition-duration: 250ms;
}
.increment {
    position: absolute;
    color: #ff8b1f;
    font-weight: 700;
    font-size: 2em;
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}